.items-container{
  text-align: center;
}
.carousel-container{
  display: block;
  margin-top: 2em;
}

.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item{
  flex-basis: calc(100% / 3 - 3*1em);
  margin: 1em;
}
