.items-container{
  text-align: center;
}

.carousel-container{
  display: block;
}

.items{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item{
  flex-basis: calc(100% / 3 - 3*1em);
  margin: 1em;
}

.items-logo{
  margin: 2em auto;
}
