<div class="header-container">
  <nav class="header navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Apróság könyvek</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="termekeink">Termékeink</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="miert-kulonleges">Miért különleges</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="rolunk">Rólunk</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="kapcsolat">Kapcsolat</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="kosar"><fa-icon [icon]="faShoppingCart"></fa-icon></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
