.header-container{
  box-shadow: 0px 5px 5px #888888;
  background-color: white;
}

.header{
  max-width: 1650px;
  width: 85%;
  margin: 0 auto;
  padding: 0;
}

.navbar-brand{
  padding: 0;
}

.header-logo{
  width: 297px;
  height: auto;
}

.current{
  border-bottom: 5px solid #6BD8A5;
}

.nav-link{
  margin: 0 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: #565656;
}


