<div *ngIf="imageUrls">
  <ngb-carousel #carousel class="carousel" [interval]="2500" [showNavigationArrows]="false" [showNavigationIndicators]="false"
                [hidden]="!imageUrls" [pauseOnHover]="false">
    <ng-template *ngFor="let leg of imageUrls; let i = index" id="ngb-slide-{{i}}" ngbSlide>
      <div class="picsum-img-wrapper">
        <img class="mx-auto" [src]="this.imageUrls[i] | async" alt="">
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="navigation-indicator-container">
    <span  class="navigation-indicator" *ngFor="let _ of imageUrls; let i = index">
      <fa-icon [class.active]="carousel.activeId == 'ngb-slide-'+i" [icon]="faSolidCircle" (click)="switchImage(i)"></fa-icon>
    </span>
  </div>
</div>

