.carousel img {
  width: 100%;
  margin-top: -25%;
}

.carousel{
  margin-bottom: 0.5em;
  max-height: 549px;
  position: relative;
  overflow: hidden;
}

.navigation-indicator-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-indicator{
  margin: 0.5em;
  color: #B9B9B9;
  font-size: 0.5em;
}

.active{
  color: #6BD8A5;
  font-size: 1.5em;
}

