/* You can add global styles to this file, and also import other style files */
html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

body{
  background-color: #FCFCFC;
}

@font-face {
  font-family: lato;
  src: url("/assets/fonts/Lato_font/Lato-Regular.ttf")  format("opentype");
}

@font-face {
  font-family: lato-heavy;
  src: url("/assets/fonts/Lato_font/Lato-Heavy.ttf")  format("opentype");
}


h1{
  font-family: lato-heavy, serif;
  color: #565656
}
